@import '../../pages/globals.scss';

.is-transparent {
    opacity: 0 !important;
}

.we-are-container {
    padding-top: 8rem;
    padding-bottom: 3rem;
    border-radius: 1px;
}

.we-are-name {
    color: rgba(252, 233, 95, .8);
    text-shadow:
        -1px -1px 0 $granite-grey-team,
        1px -1px 0 $granite-grey-team,
        -1px 1px 0 $granite-grey-team,
        1px 1px 0 $granite-grey-team;
    font-size: 4.5rem;
    opacity: 1 !important;
    transition: opacity 1s ease-in 1s;
}

.placeholder-pic {
    font-size: 15rem;
}