@import '../../pages/globals.scss';

.banner-we-are {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.is-transparent {
    opacity: 0 !important;
}

.banner-we-are-foreground {
    position: absolute;
    top: 40vh;
    left: 25vw;
    width: 50vw;
}


@media screen and (min-width: 400px) {
    .banner-we-are-foreground {
        top: 35vh;
        left: 25vw;
        width: 50vw;
    }
}

@media screen and (min-width: 650px) {
    .banner-we-are-foreground {
        top: 25vh;
        left: 27.5vw;
        width: 40vw;
    }
}

@media screen and (min-width: 1024px) {
    .banner-we-are-foreground {
        top: 15vh;
        left: 35vw;
        width: 30vw;
    }
}