@import '../../pages/globals.scss';

.events-list {
    box-shadow: 0px 0px 1px .5px $granite-grey-team;
}

.is-most-recent {
    border: 4px solid $roma-tyrian;
}

.most-recent-note {
    background: $beige-main;
    text-align: right;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem;
    margin-bottom: 0;
}