@import '../../pages/globals.scss';

.banner-schedule {
    border-bottom: 1px solid $holy-yellow-team;
    padding: 4rem 0;
}

.banner-schedule-preview {
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}

.banner-schedule-footer {
    padding-bottom: 2rem;
}

.banner-schedule-button:hover,
.banner-schedule-button:focus {
    color: $holy-yellow-team;
    text-decoration: underline 2px;
}