@import '../../pages/globals.scss';

.event-row-container {
    min-width: 280px;
    min-height:250px;
    background-color: $white-main;
    color: $black-main;
    font-weight: bold;
    border-bottom: 1px $roma-gold solid;
}

.event-row-header {
    padding: 2rem;
}

.event-row-info {
    padding-bottom: 5rem;
}

.team-info-abrv {
    padding: 1rem;
}

.match-info-score {
    padding: 0rem;
}

.team-info {
    font-size: 1.2rem;
}

.match-info {
    font-size: 1.5rem;
    padding: 0rem;
}

.practice-info {
    font-size: 2.3rem;
}

.team-info-icon {
    font-size: 1rem;
}

@media screen and (min-width: 400px) {
    .team-info {
        font-size: 1.5rem;
    }
    .match-info {
        font-size: 2rem;
    }
    .team-info-icon {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 500px) {
    .team-info {
        font-size: 1.7rem;
    }
    .match-info {
        font-size: 2.5rem;
    }
    .team-info-icon {
        font-size: 3rem;
    }
}

@media screen and (min-width: 860px) {
    .team-info {
        font-size: 2rem;
    }
    .match-info {
        font-size: 3rem;
    }
    .match-info-score {
        padding: 1rem;
    }
    .team-info-icon {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1023px) {
    .team-info {
        font-size: 2.5rem;
    }
    .match-info {
        font-size: 3.5rem;
    }
    .match-info-score {
        padding: 1rem;
    }
    .practice-info {
        font-size: 3.5rem;
    }
    .team-info-icon {
        font-size: 3rem;
    }
}