@import './globals.scss';

.blog-title {
    font-size: 4rem;
    font-family: serif;
    font-weight: bold;
    color: $roma-red;
    padding-bottom: 4rem;
}

.blog-container {
    padding-top: 6rem;
    padding-bottom: 8rem;
}
