@import './globals.scss';

.schedule-title {
    font-size: 4rem;
    padding: 3rem 0;
    font-family: serif;
    font-weight: bold;
    color: $roma-red;
}

.schedule-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
}
