@import './globals.scss';

.schedule-hero {
    background-color: $beige-main;
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.schedule-title {
    font-size: 3.3rem;
    font-family: serif;
    font-weight: bold;
    color: $roma-red;
    padding-bottom: 4rem;
}

.schedule-calendar {
    padding-top: 6rem;
    padding-bottom: 8rem;
}

@media screen and (min-width: 400px) {
    .schedule-title {
        font-size: 4rem;
    }
}