@import '../../pages/globals.scss';

.banner-latest-blogs {
    border-bottom: 1px solid $holy-yellow-team;
    padding: 4rem 0;
}

.banner-latest-blogs-list {
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}

.banner-latest-blogs-footer {
    padding-bottom: 2rem;
}

.banner-latest-blogs-button:hover,
.banner-latest-blogs-button:focus {
    color: $holy-yellow-team;
    text-decoration: underline 2px;
}