@import '../../pages/globals.scss';

.banner-latest-news {
    border-bottom: 1px solid $holy-yellow-team;
    padding: 4rem 0;
}

.banner-latest-news-list {
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}

.banner-latest-news-footer {
    padding-bottom: 2rem;
}

.banner-latest-news-button:hover,
.banner-latest-news-button:focus {
    color: $holy-yellow-team;
    text-decoration: underline 2px;
}