@import '../../pages/globals.scss';

.banner-donate-confetti-spray-left {
    position: absolute;
    bottom: 0;
}

.banner-donate-confetti-spray-right {
    position: absolute;
    right: 0;
    bottom: 0;
}