@import '../../pages/globals.scss';

.banner-donate-container {
    position: relative;
    border-top: 1px solid $holy-yellow-team;
    border-bottom: 1px solid $holy-yellow-team;
}

.banner-donate-confetti-spray-left {
    position: absolute;
    bottom: 0;
}

.banner-donate-confetti-spray-right {
    position: absolute;
    right: 0;
    bottom: 0;
}